body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: white;
    margin: 0;
    padding: 0;
}
h1 {
    font-size: 80px;
    font-weight: bold;
    margin-top: 50px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
p {
    font-size: 35px;
    margin: 20px;
    font-family: 'Times New Roman', Times, serif;
}
button {
    background-color: blue;
    color: white;
    font-size: 20px;
    border: none;
    padding: 30px 70px;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 20px;
    
}
button:hover {
    background-color: green;
}
